@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text: #2e2e2e;
  --secondary: #ededed;
  --b-color: #2e2e2e;
  --green: #80ff00;
  --background: #ededed;
}

@media (prefers-color-scheme: dark) {
  html.dark {
    --text: #ededed;
    --secondary: #2e2e2e;
    --b-color: #9c9c9c;
    --green: #ac6cff;
    --background: #121212;
  }
}

body {
  color: var(--text);
  background: var(--background);
}

h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: 12px;
}

h2 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 8px;
}

h3 {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 3.2px;
}

.subheading {
  font-size: 28px;
  line-height: 1.1;
}
.button {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 2.8px;
}
.nav-link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 2px;
}
.button-text {
  border: 2px solid var(--b-color);
  border-radius: 20px;
  padding: 20px;
  background: var(--secondary);
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button-background {
  border: 2px solid var(--b-color);
  border-radius: 20px;
  padding: 20px;
  background: var(--green);
  position: absolute;
  color: transparent;
  left: 10px;
  top: -10px;
  display: inline-block;
}
.button-text:hover {
  transform: translate(10px, -10px);
}
